services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/initdb:/docker-entrypoint-initdb.d/
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 1s
      retries: 10

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  fastapi:
    build:
      context: .
      dockerfile: ./fastapi/Dockerfile
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: postgres
      SQLALCHEMY_DATABASE_URL: postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./fastapi:/app
    ports:
      - "8000:8000"

  celery_producer:
    build:
      context: ./celery
      dockerfile: Dockerfile
    # Concurrency 1 for API rate limiting. Listens to 'api_queue' and default 'celery' (for orchestrator)
    command: celery -A tasks worker -Q api_queue,celery --loglevel=info --concurrency=1 --hostname=producer@%h
    volumes:
      - ./celery:/app
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - FASTAPI_ROUTE=fastapi:8000
      - LICHESS_USERNAME=${LICHESS_USERNAME}
      - LICHESS_TOKEN=${LICHESS_TOKEN}
    depends_on:
      - postgres
      - fastapi
      - redis

  celery_consumer:
    build:
      context: ./celery
      dockerfile: Dockerfile
    # Concurrency 8 for parallel DB processing. Listens to 'db_queue'
    command: celery -A tasks worker -Q db_queue --loglevel=info --concurrency=8 --hostname=consumer@%h
    volumes:
      - ./celery:/app
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - FASTAPI_ROUTE=fastapi:8000
      - LICHESS_USERNAME=${LICHESS_USERNAME}
      - LICHESS_TOKEN=${LICHESS_TOKEN}
    depends_on:
      - postgres
      - fastapi
      - redis

  celery_beat:
    build:
      context: ./celery
      dockerfile: Dockerfile
    command: celery -A tasks beat --loglevel=info
    volumes:
      - ./celery:/app
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - FASTAPI_ROUTE=fastapi:8000
    depends_on:
      - postgres
      - fastapi

volumes:
  postgres_data:


