name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Create .env file
        run: |
          cat << EOF > .env
          POSTGRES_USER=testuser
          POSTGRES_PASSWORD=testpass
          POSTGRES_DB=testdb
          CELERY_BROKER_URL=redis://redis:6379/0
          LICHESS_TOKEN=dummy_token
          LICHESS_USERNAME=dummy_user
          FASTAPI_ROUTE=http://fastapi:8000
          EOF
      
      - name: Run all tests
        run: make test
